.App2 {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.player-name,
.score-board {
  display: flex;
  margin: 0 50px;
  min-height: 100px;
  font-size: 12pt;
}

.player-name {
  min-height: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 10px;
  font-size: 12pt;
  border: 1px solid black;
  border-bottom: none;
}

.score-board {
  margin-bottom: 30px;
}

.frame {
  flex: 2;
  display: flex;
  flex-direction: column;
}

.frame:last-child {
  flex: 3;
}

.frame-number {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  background: #bb9;
}

.frame-score {
  flex: 1;
  display: flex;
  flex-direction: row;
  border-top: 1px solid black;
  border-left: 1px solid black;
}

.running-score {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}

.frame:last-child .frame-score {
  border-right: 1px solid black;
}

.frame:last-child .running-score {
  border-right: 1px solid black;
}

.box {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box.right {
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}

.extra {
  display: none;
}

.frame:last-child div.extra {
  display: flex;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}

.frame:last-child div.left {
  border-bottom: 1px solid black;
}

.frame-score div.right {
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}

.controls-left {
  display: flex;
  margin: 50px;
  margin-bottom: 20px;
}
.controls-right {
  margin: 50px;
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.roll {
  margin-right: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 10%;
  border: 1px solid blue;
  background: lightyellow;
  font-size: 1em;
}

.roll:hover {
  border: 1px solid blueviolet;
}
.roll:active {
  background: lightskyblue;
}

.reset {
  border-radius: 3%;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.controls {
  display: flex;
}

@keyframes blink {
  0% {
    color: #FF0000;
  }
  80% {
    color: #FFFF00;
  }
}

.title{
  font-size: 72px;
  font-weight: 100;
  animation: blink;
  animation-duration: 100ms;
  animation-iteration-count: infinite;
}

.sub {
  position: relative;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 26px;
  margin-right: -40px;
  color: #00A7FA;

  &:before {
    content: '';
    position: absolute;
    left: 5%;
    right: 8%;
    bottom: -8px;
    height: 3px;
    background-color: #00A7FA;
  }
}

.btnContainer {
  display: flex;
  align-items: center;
  margin: 72px 0;

  .Btn {
    border: 0;
    background: none;
    width: 55px;
    font-size: 32px;
    font-weight: 900;
    transition: transform .17s;
    cursor: pointer;

    &:hover{
      transform: rotateZ(45deg);
    }
  }

  & > button:first-child {
    margin-bottom: -4px;
    color: #FFFF00;
  }

  & > button:last-child {
    margin-top: -5px;
    font-size: 42px;
    color: #FF0000;
  }
}

.PlayBtn {
  width: 200px;
  height: 55px;
  border: solid 3px #00A7FA;
  border-radius: 120px;
  background: none;
  font-size: 36px;
  font-family: "Fira Code", serif;
  font-weight: 900;
  color: #00A7FA;
  cursor: pointer;

  &:hover {
    background-color: rgba(0, 0, 0, .3);
    color: #FFFF00;
  }
}

.container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.playerNumberWrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pnum {
  display: inline-block;
  min-width: 100px;
  text-align: center;
  font-size: 48px;
  font-weight: 600;
  color: #00A7FA;
}
