.App2 {
  text-align: center;
}



.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.playerName,
.scoreBoard {
  display: flex;
  margin: 0 50px;
  min-height: 100px;
  font-size: 12pt;

  & > div:last-child > div:nth-child(2),
  & > div:last-child > div:nth-child(3) {
    border-right: solid 2px #00A7FA;
  }
}

.playerNo {
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 16px;
  font-size: 24px;
  font-weight: bold;
  color: #FFFFFF;
}

.playerName {
  min-height: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 10px;
  font-size: 12pt;
  border: 1px solid black;
  border-bottom: none;
}

.score-board {
  margin-bottom: 30px;
}

.frame {
  flex: 2;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  position: relative;
  z-index: auto;
}

.frame:last-child {
  flex: 3;
}

.frameNumber {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: 24px;
  font-weight: bold;
  color: #00A7FA;
  animation: slide;
}

.frameScore {
  flex: 1;
  display: flex;
  flex-direction: row;
  border-top: 2px solid #00A7FA;
  border-left: 2px solid #00A7FA;
  position: relative;
}

.runningScore {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: 50px;
  border: solid 2px #00A7FA;
  border-top: none;
  border-right: none;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 30px;
}

.box {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #FFFF00;
  min-height: 50px;
  font-size: 24px;
  color: #0000FF;
  z-index: 1;

  &:not(.blank) {
    transform: translateX(2px) translateY(-1px);
  }

  &.blank {
    flex: 0.5;
    background-color: transparent;
  }

  &.extra {
    display: none;
  }
}

.frame:last-child div.extra {
  display: flex;
}

.controlsLeft {
  display: flex;
  margin: 50px;
  margin-bottom: 20px;
}
.controlsRight {
  margin: 50px;
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.roll {
  margin-right: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 10%;
  border: 1px solid black;
  background: #ddbea9;
  font-size: 1em;
}

.roll:hover {
  border: 1px solid bisque;

}

.reset {
  border-radius: 3%;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  color: #00A7FA;
  font-weight: bold;
  border: solid 2px #00A7FA;
  &:hover {
    background-color: rgba(0, 0, 0, .3);
    color: #FFFF00;
  }

}

.controls {
  display: flex;
}

.title{
  color:#bbbb99;
  background-color: aquamarine;
  display: flex;
  justify-content: center;
  width: 200px;
  height: 50px;
  flex: 1;
  margin-bottom: 50px;
}

.Btn{
  color:#000000;
  background-color: aquamarine;
  width: 30px;
  height: 30px;
  flex: 1;
  margin: 30px;

}

.PlayBtn{
  width: 50px;
  height: 50px;
  flex: 2;
}

.player-number-wrapper{
  margin-top: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex: 2;
  background-color: beige;
  margin-left: 500px;
  margin-right: 500px;
  position: relative;
}

.control{
  justify-content: center;
  display: flex;
}

.random{
  margin: fill;
  background: none;
  color: #00A7FA;
  border: solid 2px #00A7FA;
  font-size: 20px;
  font-weight: bold;
  &:hover {
    background-color: rgba(0, 0, 0, .3);
    color: #FFFF00;
  }
}

.strike{
  margin-left: 50px;
  margin-right: 500px;
  font-size: 20px;
  font-weight: bold;
  background: none;
  border: solid 2px #00A7FA;
  color: #00A7FA;
  &:hover {
    background-color: rgba(0, 0, 0, .3);
    color: #FFFF00;
  }
}

.home{
  background: none;
  color: #00A7FA;
  font-weight: bold;
  font-size: 20px;
  border: solid 2px #00A7FA;
  &:hover {
    background-color: rgba(0, 0, 0, .3);
    color: #FFFF00;
  }
}


